.App {
  display: flex;
  justify-content: center;
}

.dark {
  background-color: #000;
}

.select-castom{
  &__control {
    width: 100% !important;
    height: 45px !important;
    border-radius: 8px !important;
    border: 1px solid #000 !important;
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    text-align: left !important;
  }
  &__indicator-separator {
    display: none !important;
  }
  &__indicator {
    padding: 8px 0px 8px 0px !important;
  }
  &__indicators {
    cursor: pointer !important;
  }
  &__menu {
    text-align: left !important;
    margin: 0 !important;
    border-radius: 8px !important;
    border: 1px solid #000 !important;
  }
  &__option {
    cursor: pointer !important;
    &--is-focused {
      background-color: #000 !important;
      color: white !important;
    }

    &--is-selected {
      background-color: rgb(0, 0, 0, 0.3) !important;
    }

  }
}